/Papers/
/Prace_s_KITTI/__pycache__/predictor.cpython-39.pyc
/Prace_s_KITTI/.idea/.gitignore
/Prace_s_KITTI/.idea/inspectionProfiles/profiles_settings.xml
/Prace_s_KITTI/.idea/misc.xml
/Prace_s_KITTI/.idea/modules.xml
/Prace_s_KITTI/.idea/other.xml
/Prace_s_KITTI/.idea/Prace s KITTI.iml
/.idea/
/Prace_s_KITTI/Datasety/
/Prace_s_KITTI/Data_object_det/
/Prace_s_KITTI/devkit_semantics/evaluation/__pycache__/
/Prace_s_KITTI/devkit_semantics/evaluation/__pycache__/instances2dict.cpython-39.pyc
/Prace_s_KITTI/devkit_semantics/helpers/__pycache__/
/Prace_s_KITTI/results/test/
/Prace_s_KITTI/training/
/Prace_s_KITTI/Datasety_raw/
/Prace_s_KITTI/Semantics_AP/results/test/
/Prace_s_KITTI/Semantics_AP/training/
/Prace_s_KITTI/2DBB_AP/all_results/
/Prace_s_KITTI/2DBB_AP/.vscode/
/Prace_s_KITTI/2DBB_AP/cpp_eval/boost_1_81_0/
/Prace_s_KITTI/.idea/

Prace_s_KITTI/2DBB_AP/all_results.rar

Prace_s_KITTI/2DBB_AP/cpp_eval/a.out

Prace_s_KITTI/2DBB_AP/__pycache__/

Prace_s_KITTI/Semantics_AP/results.rar

Prace_s_KITTI/3D/OpenPCDet

Prace_s_KITTI/2DBB_AP/kitti-object-eval-python.zip
/Prace_s_KITTI/3D/OpenPCDet_local/OpenPCDet
/Prace_s_KITTI/__pycache__/
*.out
*.cpython-38.pyc
/3d/OpenPCDet
/semantics/data/results.rar
*.pyc
/3d/scripts/DepthCamera_2023-03-26-20-34-58.json
/3d/scripts/DepthCapture_2023-03-26-20-34-58.png
/sam_vit_h_4b8939.pth
/3d/scripts/kornia_stitched/
*.jpg
/3d/scripts/metric3d/examples/
/3d/scripts/imgs/
